.navMenu {
  background-color: #800000;
  width: 160px;
  height: 100vh;
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: -5px 0px 0px 16px;
  list-style: none;
  height: 180px;
}

.icon{
  color: white;
  font-size: 80px;
}
.icon:hover{
  font-size: 90px;
}
