.header {
  color: #800000;
  font-size: 30px;
  display: flex;
  height: 0vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.message {
  color: #800000;
  font-size: 30px;
  display: flex;
  height: 0vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.parragraph {
    margin-left: auto;
    margin-right: auto;
    font-size: 27px;
    color: #800000;
    width: 20em
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.button {
  margin-left: auto;
  margin-right: auto;
  background-color: #800000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.table, th, td{
  border: 1px solid #800000;
  padding: 15px;
  text-align: left;
  color: #800000;
}
